
		h1 {
			text-align: center;
		}
		.grid-container{
		    display: grid;
		    padding: 1px;
			width: 700px;
			height: 700px;
			max-width: 700px;
			min-height: 700px;
			margin: 0 auto;
			border: 6px solid darkred;
		}

		.grid-container div{
		    background-color: rgb(255, 255, 255);
		    border: 1px solid black;

		}	

		.button-container {
			text-align: center;
			padding-bottom: 1%;
		}

		.btn{
			margin-left: 1%;
			margin-right: 1%;
			width: 10%;
			font-size: 2em;

		}

		.fluid-container{
			display: flex;
		}